{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <img src="{{ product.photo | media_filter}}">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{object.name}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{object.price}}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ object.description}}</li>
                        <li>- {{ object.category }}</li>
                        <li>- {{ object.created_at }}</li>
                        <li>- {{ object.updated_at }}</li>
                    </ul>
                     <a href="{% url 'catalog:product_list' %}">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Назад</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}